/* body {
    color:  rgb(22, 79, 178);
} */ 
/* selector a partir de una etiqueta  */

h2 {
    color: black;
}

/* selector a partir de una clase */

.texto-verde {
    color: green;
}

/* selector a partir de una etiqueta */

footer {
    color: pink;
}

/* selector a partir de un id */

#parrafo-rosa {
    color: blueviolet;
    font-size: 30px;
}

/* selector a partir de etiquetas combinadas */

header p {
    color: aqua;
}